## Perform Basic Pandas Data Operations

### 1. <b> Reading CSV file <b>

In [6]:
# import pandas library for data manipulation
import pandas as pd
# import numpy as np to perform operations on array.
import numpy as np

# here pandas read_csv function is used to read the .csv file
# which resides on your system.
filepath="/Users/sarael-metwally/Documents/Weather_Data.csv"
df = pd.read_csv(filepath)
df

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
0,01/01/2004 00:00,14.13,13.77,175.5,7.590,13.290,160,8.470,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01
1,01/01/2004 01:00,14.14,13.75,191.5,13.270,25.480,180,9.870,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01
2,01/01/2004 02:00,14.14,13.71,194.1,11.880,20.830,200,14.550,26.99,01:41,191.3,3.879,0.6,NaN,5.607,3.879,1.2,01:20
3,01/01/2004 03:00,14.14,13.62,188.6,10.930,18.620,190,12.460,24.97,02:39,189.2,3.284,0.8,NaN,3.881,3.284,1.2,02:01
4,01/01/2004 04:00,14.14,13.55,182.7,11.510,20.510,180,10.740,22.59,03:38,186.8,3.377,0.2,NaN,3.416,3.210,1.2,03:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31/12/2004 19:00,14.06,16.14,271.0,5.751,8.710,300,7.360,17.17,18:31,297.8,10.080,0.0,NaN,10.470,10.070,0.0,18:01
8780,31/12/2004 20:00,14.06,16.16,259.6,5.897,7.520,260,5.495,10.95,19:43,281.1,9.460,0.0,NaN,10.060,9.460,0.0,19:01
8781,31/12/2004 21:00,14.05,16.18,261.1,5.310,8.130,250,5.175,9.12,20:47,276.5,8.920,0.0,NaN,9.460,8.870,0.0,20:01
8782,31/12/2004 22:00,14.05,16.18,247.3,6.135,8.840,250,5.534,9.93,21:49,251.3,8.290,0.0,NaN,8.900,8.290,0.0,21:01
8783,31/12/2004 23:00,14.06,16.14,233.7,3.784,5.533,250,4.895,9.89,22:16,246.4,8.050,0.0,NaN,8.280,7.990,0.0,22:01

### 2. <b> Know column data types</b>

In [7]:
df.dtypes

Date and Time                       object
Battery Voltage                    float64
CR10 Temperature                   float64
Wind Direction 10 Minutes          float64
Wind Speed 10 Minutes              float64
Wind Gust 10 Minutes               float64
Hourly Average Direction             int64
Hourly Average Speed               float64
Hourly Maximum Gust                float64
Hourly Gust Time                    object
Hourly Gust Direction              float64
Last Minute Average Temperature    float64
Total Hourly Rain                  float64
Average RH over previous minute    float64
Maximum Hourly Air Temperature     float64
Minimum Hourly Air Temperature     float64
Maximum Hourly Rainfall Rate       float64
Time of Rainfall                    object
dtype: object

### 4. head() and tail() functions

In [8]:
df.head()

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
0,01/01/2004 00:00,14.13,13.77,175.5,7.59,13.29,160,8.47,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01
1,01/01/2004 01:00,14.14,13.75,191.5,13.27,25.48,180,9.87,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01
2,01/01/2004 02:00,14.14,13.71,194.1,11.88,20.83,200,14.55,26.99,01:41,191.3,3.879,0.6,NaN,5.607,3.879,1.2,01:20
3,01/01/2004 03:00,14.14,13.62,188.6,10.93,18.62,190,12.46,24.97,02:39,189.2,3.284,0.8,NaN,3.881,3.284,1.2,02:01
4,01/01/2004 04:00,14.14,13.55,182.7,11.51,20.51,180,10.74,22.59,03:38,186.8,3.377,0.2,NaN,3.416,3.210,1.2,03:21

In [9]:
df.tail()

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
8779,31/12/2004 19:00,14.06,16.14,271.0,5.751,8.710,300,7.360,17.17,18:31,297.8,10.08,0.0,NaN,10.47,10.07,0.0,18:01
8780,31/12/2004 20:00,14.06,16.16,259.6,5.897,7.520,260,5.495,10.95,19:43,281.1,9.46,0.0,NaN,10.06,9.46,0.0,19:01
8781,31/12/2004 21:00,14.05,16.18,261.1,5.310,8.130,250,5.175,9.12,20:47,276.5,8.92,0.0,NaN,9.46,8.87,0.0,20:01
8782,31/12/2004 22:00,14.05,16.18,247.3,6.135,8.840,250,5.534,9.93,21:49,251.3,8.29,0.0,NaN,8.90,8.29,0.0,21:01
8783,31/12/2004 23:00,14.06,16.14,233.7,3.784,5.533,250,4.895,9.89,22:16,246.4,8.05,0.0,NaN,8.28,7.99,0.0,22:01

In [10]:
df.head(2)

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
0,01/01/2004 00:00,14.13,13.77,175.5,7.59,13.29,160,8.47,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01
1,01/01/2004 01:00,14.14,13.75,191.5,13.27,25.48,180,9.87,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01

### 4. to_numpy()

In [12]:
df.to_numpy()

array([['01/01/2004 00:00', 14.13, 13.77, ..., 4.581, 0.0, '23:01'],
       ['01/01/2004 01:00', 14.14, 13.75, ..., 5.4510000000000005, 0.0,
        '00:01'],
       ['01/01/2004 02:00', 14.14, 13.71, ..., 3.8789999999999996, 1.2,
        '01:20'],
       ...,
       ['31/12/2004 21:00', 14.05, 16.18, ..., 8.87, 0.0, '20:01'],
       ['31/12/2004 22:00', 14.05, 16.18, ..., 8.29, 0.0, '21:01'],
       ['31/12/2004 23:00', 14.06, 16.14, ..., 7.99, 0.0, '22:01']],
      dtype=object)

### 5. describe()

In [13]:
df.describe()

,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate
count,8784.000000,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,0.0,8784.000000,8784.000000,8784.000000
mean,13.967951,19.270093,203.614921,8.24043,13.448078,205.297131,8.227631,15.528377,204.481762,12.102353,0.029554,NaN,12.480914,11.762014,0.111612
std,0.124551,4.178242,94.006834,4.09377,6.720263,94.200389,3.961819,7.353768,95.446533,5.642690,0.203423,NaN,5.734416,5.560217,0.624012
min,13.670000,11.520000,0.024000,0.48400,1.140000,10.000000,0.882000,1.877000,0.033000,-1.942000,0.000000,NaN,-1.786000,-2.006000,0.000000
25%,13.870000,15.770000,125.175000,5.31525,8.550000,130.000000,5.410000,10.180000,122.875000,8.010000,0.000000,NaN,8.307500,7.717500,0.000000
50%,13.980000,18.830000,234.700000,7.63500,12.520000,240.000000,7.640000,14.480000,235.000000,11.850000,0.000000,NaN,12.110000,11.560000,0.000000
75%,14.070000,22.510000,269.100000,10.50000,17.200000,270.000000,10.370000,19.670000,273.500000,16.232500,0.000000,NaN,16.670000,15.882500,0.000000
max,14.200000,29.760000,359.900000,31.47000,49.110000,360.000000,29.100000,54.500000,359.900000,29.880000,6.000000,NaN,30.490000,28.670000,19.200000

### 6. sort_index() / sort_values()

In [22]:
df.sort_index(axis=1,ascending=True)

,Average RH over previous minute,Battery Voltage,CR10 Temperature,Date and Time,Hourly Average Direction,Hourly Average Speed,Hourly Gust Direction,Hourly Gust Time,Hourly Maximum Gust,Last Minute Average Temperature,Maximum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Minimum Hourly Air Temperature,Time of Rainfall,Total Hourly Rain,Wind Direction 10 Minutes,Wind Gust 10 Minutes,Wind Speed 10 Minutes
0,NaN,14.13,13.77,01/01/2004 00:00,160,8.470,164.0,23:28,13.36,5.437,5.437,0.0,4.581,23:01,0.0,175.5,13.290,7.590
1,NaN,14.14,13.75,01/01/2004 01:00,180,9.870,203.2,00:58,25.48,5.627,6.044,0.0,5.451,00:01,0.0,191.5,25.480,13.270
2,NaN,14.14,13.71,01/01/2004 02:00,200,14.550,191.3,01:41,26.99,3.879,5.607,1.2,3.879,01:20,0.6,194.1,20.830,11.880
3,NaN,14.14,13.62,01/01/2004 03:00,190,12.460,189.2,02:39,24.97,3.284,3.881,1.2,3.284,02:01,0.8,188.6,18.620,10.930
4,NaN,14.14,13.55,01/01/2004 04:00,180,10.740,186.8,03:38,22.59,3.377,3.416,1.2,3.210,03:21,0.2,182.7,20.510,11.510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NaN,14.06,16.14,31/12/2004 19:00,300,7.360,297.8,18:31,17.17,10.080,10.470,0.0,10.070,18:01,0.0,271.0,8.710,5.751
8780,NaN,14.06,16.16,31/12/2004 20:00,260,5.495,281.1,19:43,10.95,9.460,10.060,0.0,9.460,19:01,0.0,259.6,7.520,5.897
8781,NaN,14.05,16.18,31/12/2004 21:00,250,5.175,276.5,20:47,9.12,8.920,9.460,0.0,8.870,20:01,0.0,261.1,8.130,5.310
8782,NaN,14.05,16.18,31/12/2004 22:00,250,5.534,251.3,21:49,9.93,8.290,8.900,0.0,8.290,21:01,0.0,247.3,8.840,6.135
8783,NaN,14.06,16.14,31/12/2004 23:00,250,4.895,246.4,22:16,9.89,8.050,8.280,0.0,7.990,22:01,0.0,233.7,5.533,3.784

In [23]:
df.sort_values('Hourly Gust Direction',ascending=False)

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
7568,11/11/2004 08:00,14.02,17.49,339.400,8.620,14.960,350,9.130,18.78,07:09,359.900,6.259,0.0,NaN,6.561,6.196,0.0,07:01
8077,02/12/2004 13:00,14.09,15.40,359.900,4.134,6.655,360,3.550,8.96,12:34,359.900,6.783,0.0,NaN,6.814,6.423,0.0,12:01
415,18/01/2004 07:00,14.15,13.25,341.600,4.940,9.320,360,5.952,11.95,06:27,359.700,2.495,0.0,NaN,2.913,2.495,0.0,06:01
7557,10/11/2004 21:00,14.01,17.93,351.600,10.700,20.960,350,9.920,20.96,20:55,359.700,8.520,0.0,NaN,8.840,8.490,0.0,20:01
7547,10/11/2004 11:00,14.03,17.28,350.000,10.990,18.550,340,10.690,21.98,10:03,359.700,9.320,0.0,NaN,9.320,8.030,0.0,10:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,13/04/2004 02:00,13.97,18.92,0.027,7.690,14.090,340,7.890,15.02,01:30,0.393,11.030,0.0,NaN,11.880,11.030,0.0,01:01
1594,07/03/2004 10:00,14.07,15.66,27.250,11.060,16.310,340,8.100,19.19,09:47,0.317,6.051,0.0,NaN,6.333,5.876,0.0,09:01
1363,26/02/2004 19:00,14.16,12.87,354.500,7.540,11.980,10,6.572,11.98,18:51,0.278,2.747,0.0,NaN,2.958,2.713,0.0,18:01
7569,11/11/2004 09:00,14.03,17.40,359.700,10.790,17.200,360,8.150,17.20,08:52,0.157,6.726,0.0,NaN,7.210,6.199,0.0,08:01
330,14/01/2004 18:00,14.14,13.58,320.800,9.920,17.460,350,11.900,26.76,17:04,0.033,3.214,0.0,NaN,3.319,2.682,1.2,17:01

### 7. Selecting a single column

In [24]:
df['CR10 Temperature']

0       13.77
1       13.75
2       13.71
3       13.62
4       13.55
        ...
8779    16.14
8780    16.16
8781    16.18
8782    16.18
8783    16.14
Name: CR10 Temperature, Length: 8784, dtype: float64

### 8. Slicing rows

In [26]:
df_sample=df[0:3]
df_sample

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
0,01/01/2004 00:00,14.13,13.77,175.5,7.59,13.29,160,8.47,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01
1,01/01/2004 01:00,14.14,13.75,191.5,13.27,25.48,180,9.87,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01
2,01/01/2004 02:00,14.14,13.71,194.1,11.88,20.83,200,14.55,26.99,01:41,191.3,3.879,0.6,NaN,5.607,3.879,1.2,01:20

### 9. Result on condition basis

In [29]:
df[df['CR10 Temperature']>14]

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
115,05/01/2004 19:00,14.12,14.04,245.2,8.070,12.680,250,8.040,12.68,18:58,244.6,10.72,0.0,NaN,10.72,10.58,0.0,18:01
116,05/01/2004 20:00,14.12,14.11,236.7,9.630,13.420,250,9.600,15.79,19:41,254.1,10.57,0.0,NaN,10.81,10.57,0.0,19:01
117,05/01/2004 21:00,14.12,14.15,251.2,9.260,14.190,250,8.610,15.02,20:48,251.5,10.35,0.0,NaN,10.57,10.32,0.0,20:01
118,05/01/2004 22:00,14.12,14.22,243.7,9.110,13.580,250,9.170,16.05,21:04,254.0,10.65,0.0,NaN,10.65,10.33,0.0,21:01
119,05/01/2004 23:00,14.12,14.26,256.0,11.050,17.780,250,9.920,17.78,22:57,250.5,10.87,0.0,NaN,10.89,10.65,0.0,22:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31/12/2004 19:00,14.06,16.14,271.0,5.751,8.710,300,7.360,17.17,18:31,297.8,10.08,0.0,NaN,10.47,10.07,0.0,18:01
8780,31/12/2004 20:00,14.06,16.16,259.6,5.897,7.520,260,5.495,10.95,19:43,281.1,9.46,0.0,NaN,10.06,9.46,0.0,19:01
8781,31/12/2004 21:00,14.05,16.18,261.1,5.310,8.130,250,5.175,9.12,20:47,276.5,8.92,0.0,NaN,9.46,8.87,0.0,20:01
8782,31/12/2004 22:00,14.05,16.18,247.3,6.135,8.840,250,5.534,9.93,21:49,251.3,8.29,0.0,NaN,8.90,8.29,0.0,21:01
8783,31/12/2004 23:00,14.06,16.14,233.7,3.784,5.533,250,4.895,9.89,22:16,246.4,8.05,0.0,NaN,8.28,7.99,0.0,22:01

### 10. copy()

In [39]:
df_copy=df.copy()
df_copy

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall
0,01/01/2004 00:00,14.13,13.77,175.5,7.590,13.290,160,8.470,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01
1,01/01/2004 01:00,14.14,13.75,191.5,13.270,25.480,180,9.870,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01
2,01/01/2004 02:00,14.14,13.71,194.1,11.880,20.830,200,14.550,26.99,01:41,191.3,3.879,0.6,NaN,5.607,3.879,1.2,01:20
3,01/01/2004 03:00,14.14,13.62,188.6,10.930,18.620,190,12.460,24.97,02:39,189.2,3.284,0.8,NaN,3.881,3.284,1.2,02:01
4,01/01/2004 04:00,14.14,13.55,182.7,11.510,20.510,180,10.740,22.59,03:38,186.8,3.377,0.2,NaN,3.416,3.210,1.2,03:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31/12/2004 19:00,14.06,16.14,271.0,5.751,8.710,300,7.360,17.17,18:31,297.8,10.080,0.0,NaN,10.470,10.070,0.0,18:01
8780,31/12/2004 20:00,14.06,16.16,259.6,5.897,7.520,260,5.495,10.95,19:43,281.1,9.460,0.0,NaN,10.060,9.460,0.0,19:01
8781,31/12/2004 21:00,14.05,16.18,261.1,5.310,8.130,250,5.175,9.12,20:47,276.5,8.920,0.0,NaN,9.460,8.870,0.0,20:01
8782,31/12/2004 22:00,14.05,16.18,247.3,6.135,8.840,250,5.534,9.93,21:49,251.3,8.290,0.0,NaN,8.900,8.290,0.0,21:01
8783,31/12/2004 23:00,14.06,16.14,233.7,3.784,5.533,250,4.895,9.89,22:16,246.4,8.050,0.0,NaN,8.280,7.990,0.0,22:01

### 11. Adding a new column in the data frame

In [40]:
df_copy['Day']= ['Heavey Rain' if x >= 0.5 else 'Rainy/Not' for x in df['Total Hourly Rain'] ]
df_copy

,Date and Time,Battery Voltage,CR10 Temperature,Wind Direction 10 Minutes,Wind Speed 10 Minutes,Wind Gust 10 Minutes,Hourly Average Direction,Hourly Average Speed,Hourly Maximum Gust,Hourly Gust Time,Hourly Gust Direction,Last Minute Average Temperature,Total Hourly Rain,Average RH over previous minute,Maximum Hourly Air Temperature,Minimum Hourly Air Temperature,Maximum Hourly Rainfall Rate,Time of Rainfall,Day
0,01/01/2004 00:00,14.13,13.77,175.5,7.590,13.290,160,8.470,13.36,23:28,164.0,5.437,0.0,NaN,5.437,4.581,0.0,23:01,Rainy/Not
1,01/01/2004 01:00,14.14,13.75,191.5,13.270,25.480,180,9.870,25.48,00:58,203.2,5.627,0.0,NaN,6.044,5.451,0.0,00:01,Rainy/Not
2,01/01/2004 02:00,14.14,13.71,194.1,11.880,20.830,200,14.550,26.99,01:41,191.3,3.879,0.6,NaN,5.607,3.879,1.2,01:20,Heavey Rain
3,01/01/2004 03:00,14.14,13.62,188.6,10.930,18.620,190,12.460,24.97,02:39,189.2,3.284,0.8,NaN,3.881,3.284,1.2,02:01,Heavey Rain
4,01/01/2004 04:00,14.14,13.55,182.7,11.510,20.510,180,10.740,22.59,03:38,186.8,3.377,0.2,NaN,3.416,3.210,1.2,03:21,Rainy/Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31/12/2004 19:00,14.06,16.14,271.0,5.751,8.710,300,7.360,17.17,18:31,297.8,10.080,0.0,NaN,10.470,10.070,0.0,18:01,Rainy/Not
8780,31/12/2004 20:00,14.06,16.16,259.6,5.897,7.520,260,5.495,10.95,19:43,281.1,9.460,0.0,NaN,10.060,9.460,0.0,19:01,Rainy/Not
8781,31/12/2004 21:00,14.05,16.18,261.1,5.310,8.130,250,5.175,9.12,20:47,276.5,8.920,0.0,NaN,9.460,8.870,0.0,20:01,Rainy/Not
8782,31/12/2004 22:00,14.05,16.18,247.3,6.135,8.840,250,5.534,9.93,21:49,251.3,8.290,0.0,NaN,8.900,8.290,0.0,21:01,Rainy/Not
8783,31/12/2004 23:00,14.06,16.14,233.7,3.784,5.533,250,4.895,9.89,22:16,246.4,8.050,0.0,NaN,8.280,7.990,0.0,22:01,Rainy/Not

In [42]:
df_copy['Day']

0         Rainy/Not
1         Rainy/Not
2       Heavey Rain
3       Heavey Rain
4         Rainy/Not
           ...
8779      Rainy/Not
8780      Rainy/Not
8781      Rainy/Not
8782      Rainy/Not
8783      Rainy/Not
Name: Day, Length: 8784, dtype: object

### 12. Dropping Rows

In [45]:
df_copy['Average RH over previous minute']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
8779   NaN
8780   NaN
8781   NaN
8782   NaN
8783   NaN
Name: Average RH over previous minute, Length: 8784, dtype: float64

In [57]:
df_copy.dropna(how='any',inplace=True)
df_copy

Empty DataFrame
Columns: [Date and Time, Battery Voltage, CR10 Temperature, Wind Direction 10 Minutes, Wind Speed 10 Minutes, Wind Gust 10 Minutes, Hourly Average Direction, Hourly Average Speed, Hourly Maximum Gust, Hourly Gust Time, Hourly Gust Direction, Last Minute Average Temperature, Total Hourly Rain, Average RH over previous minute, Maximum Hourly Air Temperature, Minimum Hourly Air Temperature, Maximum Hourly Rainfall Rate, Time of Rainfall, Day]
Index: []

In [58]:
df_copy['Average RH over previous minute']

Series([], Name: Average RH over previous minute, dtype: float64)

### 13. Filling NaN values

In [63]:
df.fillna(value=5,inplace=True)

In [64]:
df['Average RH over previous minute']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8779    5.0
8780    5.0
8781    5.0
8782    5.0
8783    5.0
Name: Average RH over previous minute, Length: 8784, dtype: float64

##### Refrences:
1. https://towardsdatascience.com/pandas-guide-with-python-example-ii-basic-pandas-operations-4cf9704fd062
2. https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/